{%extends "base.html" %}
{%load static%}

{%block title%} NOW | WORKOUTS {%endblock%}

{%block content%}
<div class="premade-header">
    <h1 class="premade-header-header">Available Workouts</h1>
</div>


<div class="premade-workout">

    {%for workout in all_workouts%}

    <div class="premade-workout-info">
        {%if workout.name == 'Boxing'%}
            <a href="{%url 'workouts-page'%}boxing">
                <img src="{%static 'images/boxinglanding.jpeg'%}"/>
            </a>
        {%elif workout.name == 'Yoga'%}
            <a href="{%url 'workouts-page'%}yoga">
                <img src="{%static 'images/yogalanding.jpeg'%}"/>
            </a>
        {%else%}
            <a href="{%url 'workouts-page'%}bodyweight">
                <img src="{%static 'images/bodyweightlanding.jpeg'%}"/>
            </a>
        {%endif%}
        <div class="premade-workout-info2">
            <h2><a href="{%url 'workouts-page'%}{{workout.name.lower}}">{{workout.name}}</a></h2>
            <br>
            <p>{{workout.description}}</p>
        </div>
    </div>

    {%endfor%}
</div>



{%endblock%}
