{%extends 'base.html'%}
{%load static%}

{%block title%}NOW | Home{%endblock%}
{%block css_files%}    <link rel="stylesheet" href={%static 'styles/base.css'%}/>{%endblock%}
{%block content%}
<div class="homevideo">
    <video playsinline autoplay muted loop>
        <source src="{%static 'images/nowlandingvideo.mp4'%}" type="video/mp4">
    </video>
</div>

<div class="home-main-grid">
    <div class="home-grid-header">
        <h2>NOW FITNESS</H2>
        <h2>ALL THE TOOLS YOU NEED TO ADVANCE YOUR FITNESS</h2>
    </div>

    <div class="home-grid-item1">
        <h3>Fitness Tracker</h3>
        <br>
        <p>Record your performance and keep track of your progress over time</p>
    </div>

    <div class="home-grid-item2">
        <h3>Equipment Agnostic</h3>
        <br>
        <p>NOW! provides a fun way to get your sweat on from the comforts of your home - no equipment necessary.</p>
    </div>

    <div class="home-grid-item3">
        <h3>HIIT Focused</h3>
        <br>
        <p>Pre-made workouts that last 4 minutes per round!</p>
    </div>

    <div class="features-icons-icon d-flex home-grid-item1pic"><i class="bi bi-calendar-week text-primary m-auto"></i></div>
    <div class="features-icons-icon d-flex home-grid-item2pic"><i class="bi-bag-x m-auto text-primary"></i></div>
    <div class="features-icons-icon d-flex home-grid-item3pic"><i class="bi-clock m-auto text-primary"></i></div>
</div>

{% comment %} Call to Action {% endcomment %}
<div class="call-to-action">
    <h2>Get started today!</h2>
</div>

<footer>
    <ul class="list-inline mb-2">
        <li class="list-inline-item"><a href="{%url "workouts-page"%}boxing">Boxing</a></li>
        <li class="list-inline-item">⋅</li>
        <li class="list-inline-item"><a href="{%url "workouts-page"%}bodyweight">Bodyweight</a></li>
        <li class="list-inline-item">⋅</li>
        <li class="list-inline-item"><a href="{%url "workouts-page"%}yoga">Yoga</a></li>
    </ul>
</footer>

{%endblock%}