* {
    padding: 0;
    margin: 0; 
    font-size: 24px;
  }
  
body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(221,223,225);
}

.nav-link:hover{
    color: green !important; 
}



/* Home Page */
.homevideo{
    width: 100vw;
}

video {
    width: 100vw; 
    width: 100%; 
    display:block;
}


.home-main-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-column-gap: 30px; 
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 30px; 
    grid-template-areas: ". gridhead gridhead gridhead ."
                         ". griditem1 griditem2 griditem3 ."
                         " . griditem1pic griditem2pic griditem3pic .";
    background-color: rgb(221,223,225); 
    text-align: center; 
    width: 100vw; 
}

.home-grid-header{
    grid-area: gridhead; 
    margin-top: 30px;
}

.home-grid-header h2:nth-child(1){
    color: rgb(53, 53, 155);
    font-size: 34px;
}

.home-grid-header h2:nth-child(2){
    color: blue;
    font-size:34px;
}

.home-grid-item1{
    grid-area: griditem1;
}

.home-grid-item2{
    grid-area:griditem2; 
}

.home-grid-item3{
    grid-area:griditem3; 
}

.home-grid-item1pic{
    grid-area: griditem1pic;
}

.home-grid-item1pic i,
.home-grid-item2pic i,
.home-grid-item3pic i {
    font-size: 150px; 
}

.home-grid-item2pic{
    grid-area:griditem2pic;
}

.home-grid-item3pic{
    grid-area:griditem3pic; 
}

.call-to-action{
    text-align: center;
    background-color: beige;
    padding: 100px; 
    width: 100vw; 
}

footer{
    height: 100%;
    background-color: navy;
    width: 100vw; 
}
footer ul{
    text-align: center;  
    padding: 50px; 
    width: 100vw;
}
footer ul li{
    color: white; 
}
footer ul li a{
    color: white; 
    text-decoration: none;  
    font-size: 22px; 
}

footer ul li a:hover{
    font-size: 30px; 
}

/* Admin Workout Page */
.premade-header-header{
    text-align: center;
    padding: 40px; 
}


.premade-workout{
    display: grid;
    grid-template-columns: repeat(1fr 2fr 2fr 2fr 1fr); 
    grid-template-areas: ". premadeinfo premadeinfo2 premadeinfo3 .";
    column-gap: 80px; 
    width: 100vw; 
}

.premade-workout-info{
    width: 100%;
    height:100%;
}

.premade-workout-info img{
    width: 100%;
    min-width: 560px; 
    height: 800px; 
}
.premade-workout-info:nth-child(1){
    grid-area: premadeinfo;
    text-align: center; 
}


.premade-workout-info:nth-child(2){
    grid-area: premadeinfo2;
    text-align: center; 
}

.premade-workout-info:nth-child(3){
    grid-area: premadeinfo3;
    text-align: center; 
}

.premade-workout-info2{
    background-color:black;
    color: white;
    padding: 25px;
}
.premade-workout-info2 h2{
    font-size: 34px;
    font-weight:bolder;
}

.premade-workout-info p{
    font-size: 24px; 
}

.premade-workout-info2 h2 a{
    text-decoration:none; 
    color: gray;
}

.premade-workout-info2 h2 a:hover{
    color: green;
}

.premade-workout-info:hover{
    transform:scale(1.05);
} 

/* WorkoutHTML */

.workout-informative{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px; 
    min-width: 1146px;
}

.workout-informative-image{
    display: inline-block; 
    min-width: 574px;
}

.workout-informative-image img{
    height: 900px;
    width:640px;
    width: 100%;
    border-top-left-radius: 5%;
    border-bottom-left-radius:5%;
}

.workout-informative-info{
    display: inline-block; 
    background-color: rgb(15,30,60);
    color: white; 
    width: 100%;
    height: 100%;
    text-align: center; 
    justify-content: center; 
    align-items: center; 
    min-width: 574px;
    border-top-right-radius: 5%;
    border-bottom-right-radius:5%;
}

.workout-informative-info2{
    display: inline-block; 
    background-color: rgb(215,60,75);
    color: white; 
    width: 100%;
    height: 100%;
    text-align: center; 
    justify-content: center; 
    align-items: center; 
    min-width: 574px;
    border-top-right-radius: 5%;
    border-bottom-right-radius:5%;
}

.informative-header {
    margin-top: 20vh;
}

.workout-informative-info p{
    margin-top: 30px; 
    display:inline-block; 
}

.workout-informative-info2 p{
    margin-top: 30px; 
    display:inline-block; 
}

.round-number{
    background-color: white; 
    padding: 20px; 
    color: black; 
    font-size: 34px; 
    border-radius: 15%;
}

.round {
    margin-left: 30px; 
    font-size: 34px; 
}

/* Workouts Detail */

.workout-detail-grid{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(auto-fit, minmax(350px, 1fr)); 
    column-gap: 30px;
    row-gap: 100px;
}

.workout-detail-content{
    margin:auto;
    text-align: center;
}

.workout-content{
    width: 500px;
    font-size: 24px;
    text-align: center; 
    box-shadow: 0 0 5px #bbb;
    padding: 50px;
    border-bottom-right-radius: 12%;
    border-bottom-left-radius:12%;
}

.workout-detail-image{
    border-radius: 4px 4px 0 0;
    width: 500px;
    height: 450px;
    box-shadow: 0 0 5px #bbb;
    border-top-left-radius: 12%;
    border-top-right-radius:12%;
}

.workout-detail-content:hover{
    transform: scale(1.1);
}
.workout-detail-header{
    text-align: center; 
    margin-top: 80px;
    margin-bottom: 65px; 
    font-weight:bold;  
    font-size: 30px; 
}

/* profile */

.profileimage{
    width:300px;
    height:300px; 
}

.entry_profile{
    text-align: center; 
}

.entry_create{
    margin-left: 40px; 
}

.entry_create a{
    color: white; 
    text-decoration: none; 
}


/* Tracker */

.setcompletion{
    visibility:hidden;
}

.start-button{
    margin-left: 46vw;
    margin-right: 45vw; 
}

/* TRACKER */

.tracker-whitespace{
    padding: 50px; 
    background-color: rgb(221,223,225);
}

#filters{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: ". . . datesearch exercisesearch searchButton . . ";
}

.div1{
    grid-area: datesearch;
}

.div2{
    grid-area: exercisesearch;
}

.div3{
    grid-area: searchButton;
}

#entryTable {
    margin-left: 5vw; 
    margin-top: 4vh; 
    margin-right: 5vw; 
    margin-bottom: 6vh; 
}

.table_header{
    background-color: yellow; 
    width: 60vw; 
}

.table_header th{
    border: 2px solid black; 
    padding: 4vw; 
}

.table_data td{
    border: 2px solid black;
    padding: 30px; 
    background-color: white; 
    text-align: center; 
    color: blue; 
    
}


.entry-detail-page,
.entry-update-page,
.entry-delete-page,
.entry-create-page{
    text-align: center;
    margin-top: 30px;  
}

/*  */

